.root {
  background-color: var(--bg-body);
  max-width: 900px;
  margin: 0 auto;
  // footer {
  //   text-align: right;
  // }
}

@media (min-width: 641px) {
  .root {
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
