.blog-page {
  h1,
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .last-card {
    padding-bottom: 4rem;
  }
}
.header-container {
  background-color: var(--bg-card);
  height: 6rem;
  position: relative;
  display: flex;
  align-items: center;
  .left-icon {
    position: absolute;
    top: 2.2rem; // (6rem - 1.6rem) / 2
    left: 2rem;
    width: 1.6rem;
  }
  h1 {
    flex: 1;
    text-align: center;
  }
}
.card {
  background-color: var(--bg-card);
  padding: 2.5rem 2rem;
}
.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}
.badge {
  padding: 5px 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  color: var(--color-default);
}
.badge-primary {
  @extend .badge;
  border: 1px solid var(--border-color-primary);
  color: var(--color-primary);
}
.letter-logo {
  width: 3.5rem;
  height: 3.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.link {
  color: var(--color-link);
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
}

@media (min-width: 641px) {
  .card {
    padding: 2.5rem 3rem;
  }
  // .letter-logo {
  //   width: 50px;
  //   height: 50px;
  // }
}
