.header-container {
  background-color: var(--bg-card);
  height: 4rem;
  position: relative;
  display: flex;
  align-items: center;
  .left-icon {
    position: absolute;
    top: 1.4rem; // (4rem - 1.2rem) / 2
    left: 2rem;
    width: 1.2rem;
    height: 1.2rem;
  }
  h1 {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
  }
}
.card {
  background-color: var(--bg-card);
  padding: 2.5rem 2rem;
}
.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}
.badge {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  color: var(--color-default);
}
.badge-primary {
  @extend .badge;
  border: 1px solid var(--border-color-primary);
  color: var(--color-primary);
}
.letter-logo {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.link {
  color: var(--color-link);
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
}

@media (min-width: 641px) {
  .card {
    padding: 2.5rem 3rem;
  }
  .letter-logo {
    width: 50px;
    height: 50px;
  }
}
