.card {
  background-color: var(--bg-card);
  padding: 2.5rem 2rem;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}
.badge {
  padding: 5px 10px;
  border-radius: 5px;
}
.badge-primary {
  @extend .badge;
  border: 1px solid var(--border-color-primary);
  color: var(--color-primary);
}
.letter-logo {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 641px) {
  .card {
    padding: 2.5rem 3rem;
  }
  .letter-logo {
    width: 50px;
    height: 50px;
  }
}
