$array: (0, 1, 5, 10, 20, 30, 40);

@include iterate-props-arr('mt', ('margin-top'), $array, 'px');
@include iterate-props-arr('ml', ('margin-left'), $array, 'px');
@include iterate-props-arr('p', ('padding'), $array, 'px');
@include iterate-props-arr('pl', ('padding-left'), $array, 'px');
@include iterate-props-arr('pr', ('padding-right'), $array, 'px');
@include iterate-props-arr('px', ('padding-left', 'padding-right'), $array, 'px');
@include iterate-props-arr('py', ('padding-top', 'padding-bottom'), $array, 'px');

.align-items-center {
  display: flex;
  align-items: center;
}
.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.text-mix {
  > *:not(:first-child) {
    margin-left: 5px;
  }
}

@media (min-width: 641px) {
  @include iterate-props-arr('mt-md', ('margin-top'), $array, 'px');
  @include iterate-props-arr('ml-md', ('margin-left'), $array, 'px');
  @include iterate-props-arr('p-md', ('padding'), $array, 'px');
}
