$distanceArray: (0, 1, 5, 10, 20, 30, 40, auto);

@include iterate-props-map(
  'lh',
  'line-height',
  (
    '1': 1,
    '2': 1.5,
    '3': 2
  )
);
// Margin
@include iterate-props-arr('mt', ('margin-top'), $distanceArray, 'px');
@include iterate-props-arr('ml', ('margin-left'), $distanceArray, 'px');
@include iterate-props-arr('mr', ('margin-right'), $distanceArray, 'px');
@include iterate-props-arr('mb', ('margin-bottom'), $distanceArray, 'px');

@include iterate-props-map(
  'c',
  'color',
  (
    'link': var(--color-link),
    'primary': var(--color-primary),
    'muted': var(--color-muted)
  )
);
@include iterate-props-map(
  'bg',
  'background-color',
  (
    'muted': var(--bg-muted),
    'primary': var(--bg-primary),
    'primary-50': var(--bg-primary-50)
  )
);

.h2 {
  font-size: 2rem;
}
.h3 {
  font-size: 1.17rem;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.justify-content-between {
  display: flex;
  justify-content: space-between;
}
.d-block {
  display: block;
}
