:root {
  --color-black: #262421;
  --color-dark: #484848;
  --color-white: #ffffff;
  --color-light: #e5e5e5;
  --color-gray: #aeaeae;
  --color-purple: #543fd7;
  --color-light-purple: #a8a8ff;
  --color-light-blue: #55acee;
  --color-green: #7ca64f;
  --color-green-50: #7ca64f90;
  --color-red: #d75454;
  --color-red-50: #d754547d;
}

html[data-theme='light'] {
  --color-link: var(--color-light-purple);
  --color-default: var(--color-black);
  --color-primary: var(--color-red);
  --color-muted: var(--color-gray);
  --bg-card: var(--color-white);
  --bg-body: var(--color-light);
  --bg-primary: var(--color-red);
  --bg-primary-50: var(--color-red-50);
  --bg-muted: var(--color-gray);
  // --border-color: var(--color-gray);
  --border-color-primary: var(--color-red-50);
}

html[data-theme='dark'] {
  --color-link: var(--color-light-blue);
  --color-default: var(--color-light);
  --color-primary: var(--color-green);
  --color-muted: var(--color-gray);
  --bg-card: var(--color-black);
  --bg-body: var(--color-dark);
  --bg-primary: var(--color-green);
  --bg-primary-50: var(--color-green-50);
  --bg-muted: var(--color-dark);
  // --border-color: var(--color-gray);
  --border-color-primary: var(--color-green-50);
}
