:root {
  --color-black: #262421;
  --color-dark: #484848;
  --color-white: #ffffff;
  --color-light: #e5e5e5;
  --color-gray: #aeaeae;
  --color-purple: #543fd7;
  --color-light-blue: #55acee;
  // --color-green: #7ca64f;
  // --color-green-90: #7ca64f90;
  --color-green: #ffe102;
  --color-green-90: #ffe10290;
  --color-red: #dc3545;
  --color-red-90: #dc354590;

  --border-radius: 0.8rem;
}

html[data-theme='light'] {
  --color-link: var(--color-purple);
  --color-default: var(--color-black);
  --color-primary: var(--color-red);
  --color-muted: var(--color-gray);
  --bg-card: var(--color-white);
  --bg-body: var(--color-black);
  --bg-primary: var(--color-red);
  --bg-primary-90: var(--color-red-90);
  --bg-muted: var(--color-gray);
  --border-color: var(--color-dark);
  --border-color-primary: var(--color-red-90);
}

html[data-theme='dark'] {
  --color-link: var(--color-light-blue);
  --color-default: var(--color-light);
  --color-primary: var(--color-green);
  --color-muted: var(--color-gray);
  --bg-card: var(--color-black);
  --bg-body: var(--color-dark);
  --bg-primary: var(--color-green);
  --bg-primary-90: var(--color-green-90);
  --bg-muted: var(--color-dark);
  --border-color: var(--color-dark);
  --border-color-primary: var(--color-green-90);
}
