@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-[12px] md:text-[16px] md:py-4
        font-normal dark:font-light
        text-zinc-800 dark:text-gray-200
        dark:tracking-wide;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
}

@layer components {
  .card {
    @apply bg-white dark:bg-zinc-900
        px-8 py-10
        md:px-10 md:py-12;
  }
  .link {
    @apply text-base font-light
        pb-2 border-b-2
        transition-colors duration-300 ease-in
        text-purple-500 dark:text-sky-500
        hover:text-purple-700 dark:hover:text-sky-400
        border-purple-500/70 dark:border-sky-500/70
        hover:border-purple-500 dark:hover:border-sky-400;
  }
  .blog-page {
    h1,
    h2 {
      @apply text-2xl;
    }
  }
}
